.sign-in {
    margin: auto;
    padding: auto;
    width: 500px;
    height: 400px;
    background-color: antiquewhite;
    align-content: center;
}

.btn-primary{
    margin-left: 200px;
    align-items: center;

}